include mixins
doctype html
html(lang="PT-BR")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")
		title!=title
		link(href="public/stylesheets/main.min.css", rel="stylesheet", type="text/css")

block body
	body
	block content
			
	block footer