include modules/default
block body
	body
block content
	.wrapper-content.row
		.large-7.large-centered.columns
			.feed
				.feed-loading
					p.loading="Error: 404 Page Not Found."
	block footer
		script(src="public/javascrips/main.js")